/* 
    Document   : style
    Created on : Apr 20, 2013, 2:37:35 AM
    Author     : dliddell
    Description:
        Purpose of the stylesheet follows.
*/


form{
    width:50%;
    margin: 20% auto 0 auto;               
}
            
 
